@media screen and (max-width: 576px) {
    nav,
    nav>ul,
    .banner,
    .instant-play-container
    {
        flex-direction: column;
    }

    nav>ul>li{
        padding: 15px 0;
        text-align: center;
    
    }

    .section-description{
        text-align: center;
    }
    
    .banner{
        flex-direction: column-reverse;
        gap: 50px;
    }
    
    .banner-info>h2{
        text-align: center;
        font-size: 2rem; 
       
      }

      .banner-info>h1{
        text-align: center;
        font-size: 4rem;
       
      }

      .instant-play-image{
        width: 280px;
        height: 330px;
        margin-left: 45px;
      }

      .my-talking{
        bottom: 135px;
        right: 60px;
      }

      .my-talking img{
        width: 50%;
        height: 50%;
      }

      .funny-videos{
        grid-template-columns: repeat(1,1fr);
      } 

      .games-button-container {
        grid-template-columns: repeat(3, 1fr);
    }

    .text-position{
        text-align: center;
        width: 100%;
        margin: 50px auto;
    }

    .text-position h3 {
        font-size: 2.8rem;
    }

    .btn-primary {
        width: 97px;
        height: 40px;
        padding: 3%;
    }

    .btn-image img {
        width: 30px;
        margin-right: 2px;
    }

    .btn-primary>p {
        font-size: 4rem;
        padding: 0 2px;
    }

    .social-link {
        grid-template-columns: repeat(3, 1fr);
    }

    .button-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 5px;
    }

    .button {
        margin-bottom: 10px;
    }

    .button span {
        font-size: 8px;
        padding: 0;
    }

    .button img {
        width: 30px;
        padding-right: 5px;
    }
}



/* responsive tab view  */
@media screen and (min-width:576px) and (max-width:992px) {
    .banner-immage{
        width: 50%;
    }
    .banner-info>h1 {
        font-size: 3rem;
    }
    .banner-info>h2{
        font-size: 1.5rem;
    }
    .banner-btn{
        padding: 14px 35px;
    }
    .center-text h3{
        font-size: 2rem;
    }
    .button{
        padding: 5px 10px;
    }
    .button span{
        font-size:.9rem;
    }
    .funny-videos{
        grid-template-columns: repeat(2,1fr);
    }
    .instant-play-container{
        flex-direction: column;
    }
    .text-position{
        text-align: center;
        margin: 20px 0 ;
    }
    .instant-play-image{
        height:650px;
        width: 570px;
        margin-left: 100px;
    }
    .my-talking {
        bottom: 255px;
        right: 105px;
    }
    .my-talking img {
        width: 47%;
        height: 40%;
    }
}





